.content-img-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1em;
  margin-right: 1em;

  @media (min-width: 768px) {
    max-width: 70vw;
  }

  &-title {
    color: white;
    font-size: 2.2em;
    line-height: 1.1;

    h2 {
      margin-bottom: 0.5em;
    }
  }

  &-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: 768px) {
      flex-direction: row;
      align-items: flex-start;
    }
    &-format {
      display: flex;
      flex-direction: column;
    }

    &-p {
      color: white;

      @media (min-width: 768px) {
        max-width: 40vw;
      }
    }
  }
  &-img {
    width: 250px;
    height: 250px;
    border-radius: 200px;

    @media (min-width: 768px) {
      margin-left: 4em;
      width: 300px;
      height: 300px;
      margin-top: 2em;
    }
  }
}
