.img-block {
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    margin-left: 0.5em;
  }

  &-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
    max-width: 1000px;

    @media (min-width: 768px) {
      width: 80%;
    }
    img {
      width: 50px;
      margin-bottom: 20px;
      margin-left: 20px;
      margin-right: 20px;
    }

    &-small {
      img {
        margin-left: 5px;
        margin-right: 5px;
      }
    }

    &-large {
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      img {
        width: 150px;
        margin-bottom: 40px;
      }
    }
  }

  a:hover {
    border-bottom: none;
    opacity: 0.7;
  }
}
