.about-section {
  display: flex;

  flex-direction: column;
  align-items: center;
  width: 100vw;
  background: #02793b;
  @media (min-width: 768px) {
    min-height: 90vh;
    margin-top: -10px;
  }
}

// #about {
//   margin-top: -3em;
// }
