.sales-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
  background: #02793b;
  padding-top: 2.5em;
  @media (min-width: 768px) {
    padding-top: 0;
  }
}
