.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
  height: 2.5em;
  background-color: transparent;
  width: 100vw;
  padding-bottom: 15px;
  z-index: 1;

  @media (min-width: 768px) {
    padding-bottom: 20px;
    padding-top: 20px;
    background-color: #013c1e;
  }

  &-logo {
    width: 4.5rem;
    display: flex;
    padding-bottom: 20px;
    position: fixed;
    left: 1em;
    top: 0em;
  }

  &-link {
    margin: 15px 5px;
    text-decoration: none;
    font-size: 20px;
    line-height: 0;
    color: #fff;

    @media (min-width: 768px) {
      margin: 10px 30px;
      line-height: 1;
    }
  }
  &-socials {
    position: relative;
    right: 2em;
    display: none;
    opacity: 0.7;

    @media (min-width: 768px) {
      display: flex;
      position: fixed;
      right: 1em;
      top: 0em;
      display: flex;
    }
  }
}

.hide-on-mobile {
  display: none;
  @media (min-width: 768px) {
    display: flex;
  }
}
