.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  height: 3em;
  width: 100vw;
  background-color: #013c1e;
  position: fixed;
  padding-bottom: 10px;
  z-index: 9999;

  @media (min-width: 768px) {
    padding-bottom: 20px;
  }

  &-logo {
    width: 5.5em;
    position: relative;
    left: 2em;
    display: none;
    @media (min-width: 768px) {
      padding-bottom: 20px;
      position: fixed;
      left: 1em;
      top: 0em;
      display: flex;
    }
  }

  &-link {
    margin: 15px 5px;
    text-decoration: none;
    font-size: 20px;
    line-height: 0;
    color: #fff;

    @media (min-width: 768px) {
      margin: 10px 30px;
      line-height: 1;
    }
  }
  &-socials {
    position: relative;
    right: 2em;
    display: none;
    opacity: 0.7;

    @media (min-width: 768px) {
      display: flex;
      position: fixed;
      right: 1em;
      top: 0em;
      display: flex;
    }
  }
}
