@import url("https://fonts.googleapis.com/css2?family=Karla&display=swap");

.App {
  background-color: #028843;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.cover-img {
  margin-right: -1200px;
  max-width: 1200px;
  margin-top: 4.75em;
  min-height: 200px;
  transform: translatex(-50%);
  z-index: 0;
  @media (min-width: 768px) {
    margin-top: 5.5em;
  }
}

.image-with-text-overlay {
  background-image: url("./imgs/trucks.png");
  width: 100vw;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  margin-bottom: 60px;
  color: white;
  margin-top: 4em;
}

a {
  text-decoration: none;
  color: #ffbc42;
  font-weight: 600;
  transition: all 300ms ease-in-out;
  border-bottom: 0px solid rgba(255, 255, 255, 0);
}

a:hover {
  border-bottom: 5px solid #ffbc42;
  color: rgba(255, 255, 255, 0.8);
}

html {
  scroll-behavior: smooth;
}

body {
  line-height: 1.4;
  font-family: "Karla", sans-serif;
}
